@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* Navbar Section */

header {
  background-color: #1e5afa;
}

.logo {
  text-align: center;
  padding: 25px 0;
}

.logo a {
  font-size: 35px;
  text-decoration: none;
  color: #ffffff;
}

/* nav {
  color: #fafafa;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 75px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

ul li {
  list-style: none;
  padding-left: 40px;
}

ul li a {
  text-decoration: none;
  color: #fafafa;
} */

/* .section-one-header {
  display: flex;
  flex: 1;
  font-weight: 300;
  font-size: 18px;
}

.section-two-header {
  display: flex;
  flex: 2;
  font-weight: 900;
  font-size: 32px;
  margin: 0 auto;
  background-color: yellow;
} */

.section-two-header li {
  margin: 0 auto;
}

.section-two-header li a {
  margin: 0 auto;
}

.section-three-header {
  display: flex;
  flex: 1;
  font-weight: 300;
  font-size: 18px;
}

.sign-header-box a:hover {
  background-color: #fafafa;
  color: #000000;
  padding: 15px 25px;
  transition: all 0.7s 0s ease;
  border-radius: 8px;
  font-weight: 700;
}

/* Header Main Content */

.heading-section {
  text-align: center;
  color: #fafafa;
  background-color: #1e5afa;
  height: 85vh;
}

.heading-section h1 {
  font-size: 80px;
  line-height: 100%;
}

.heading-description {
  font-size: 18px;
  padding: 25px 0;
}

.header-image-section {
  background-color: #ffffff;
  text-align: center;
  padding-top: 20%;
}

.social-icons-phones-section {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.social-icons {
  margin-bottom: 12%;
  position: relative;
  left: 5%;
}

.header-phones {
  flex: 1;
}

/* Social Icon Images */

.header-image-section .about-us {
  color: #313131;
  font-size: 80px;
}

/* About Us */
.phone-section {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s all ease-in-out;
}

.phone-one-section {
  flex: 1;
}

.phone-one-box {
  background-color: #1e5afa;
  width: 15%;
  padding: 150px;
  border-radius: 10px;
  margin-left: 4%;
  margin-top: 20%;
  position: absolute;
}

.phone-one-image {
  position: relative;
}

.phone-one-image img {
  width: 750px;
  text-align: center;
}

.phone-one-text {
  flex: 1;
  padding: 10% 5% 0;
  text-align: left;
  color: #000f37;
}

.phone-one-text h1 {
  font-size: 46px;
  padding: 0 9% 0 0;
}

.phone-one-text p {
  font-size: 20px;
  font-weight: 400;
  padding: 30px 100px 60px 0;
  line-height: 2em;
}

.phone-one-text a {
  background-color: #000f37;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 50px;
  font-size: 18px;
  border-radius: 5px;
}

.phone-two-section {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s all ease-in-out;
}

.phone-two-container {
  flex: 1;
}

.phone-two-box {
  background-color: #1e5afa;
  width: 15%;
  padding: 150px;
  border-radius: 10px;
  margin-top: 15%;
  position: absolute;
}

.phone-two-image {
  position: relative;
  bottom: 11%;
  right: 22%;
}

.phone-two-image img {
  width: 750px;
}

.phone-two-text {
  flex: 1;
  padding: 5% 5% 0%;
  text-align: left;
  color: #000f37;
}

.phone-two-text h1 {
  font-size: 46px;
  padding: 0 0 0 0;
}

.phone-two-text p {
  font-size: 20px;
  font-weight: 400;
  padding: 30px 100px 60px 0;
  line-height: 2em;
}

.phone-two-text a {
  background-color: #ffffff;
  color: #000f37;
  text-decoration: none;
  padding: 20px 50px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #000f37;
  font-weight: 500;
}

.phone-three-section {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s all ease-in-out;
}

.phonesAppear {
  opacity: 1;
  transform: translateY(0px);
}

.phone-three-container {
  flex: 1;
}

.phone-three-box {
  background-color: #1e5afa;
  width: 15%;
  padding: 150px;
  border-radius: 10px;
  margin-left: 4%;
  margin-top: 0%;
  position: absolute;
}

.phone-three-image {
  position: relative;
  bottom: 35%;
}

.phone-three-image img {
  width: 750px;
}

.phone-three-text {
  flex: 1;
  padding: 0% 5% 0%;
  text-align: left;
  color: #000f37;
}

.phone-three-text h1 {
  position: relative;
  bottom: 14%;
}

.phone-three-text p {
  position: relative;
  bottom: 15%;
}
.phone-three-text a {
  position: relative;
  bottom: 15%;
}

.phone-three-text h1 {
  font-size: 46px;
  padding: 0 9% 0 0;
}

.phone-three-text p {
  font-size: 20px;
  font-weight: 400;
  padding: 30px 100px 60px 0;
  line-height: 2em;
}
.phone-three-text a {
  background-color: #ffffff;
  color: #000f37;
  text-decoration: none;
  padding: 20px 50px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #000f37;
  font-weight: 500;
}
.our-clients {
  position: relative;
  text-align: center;
  bottom: 15em;
}
.our-clients h1 {
  color: #313131;
  font-size: 80px;
}
.our-clients p {
  color: #575757;
  font-size: 18px;
  width: 50%;
  margin: 40px auto;
}
.image-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
.image-box-one {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}
.image-box-one:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.image-box-two {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}

.image-box-two img {
  position: relative;
  top: 25%;
  right: 31%;
}

.image-box-two:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.image-box-three {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}

.image-box-three img {
  position: relative;
  top: 25%;
  right: 36%;
  width: 200px;
}

.image-box-three:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.image-box-four {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}

.image-box-four img {
  position: relative;
  top: 25%;
  right: 0%;
}

.image-box-four:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.image-box-five {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}

.image-box-five img {
  position: relative;
  top: 35%;
  right: 28%;
}

.image-box-five:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.image-box-six {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}

.image-box-six img {
  position: relative;
  top: 35%;
  right: 25%;
}

.image-box-six:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.image-box-seven {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}

.image-box-seven img {
  position: relative;
  top: 25%;
  right: 5%;
}

.image-box-seven:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.image-box-eight {
  background-color: #fafafa;
  margin: 20px 0 0;
  padding: 15px 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 116px;
  height: 98px;
}

.image-box-eight img {
  position: relative;
  top: 35%;
  right: 20%;
}

.image-box-eight:hover {
  transition: all ease-out 0.9s;
  padding: 20px 55px;
}

.testimonials-section {
  text-align: center;
}

.testimonials-section h1 {
  color: #313131;
  font-size: 85px;
}

.testimonials-section .header-text {
  color: #575757;
  font-size: 18px;
  padding: 30px 24em 0;
}

.box-container {
  width: 100%;
}

.box {
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
  text-align: center;
  width: 50%;
  border-radius: 10px;
  padding: 50px 0;
  line-height: 2em;
  margin: 50px auto 0;
}

.box-header {
  padding: 0 50px;
}

.people-info img {
  width: 150px;
  height: 150px;
}

.buttons {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.next-button {
  background-color: #ffffff;
  border: none;
}

.next-button:hover {
  cursor: pointer;
}

.next-button img {
  padding-left: 5px;
}

.previous-button {
  background-color: #ffffff;
  border: none;
}

.previous-button:hover {
  cursor: pointer;
}

.previous-button img {
  padding-right: 5px;
  cursor: pointer;
}

.faq-container {
  padding-top: 15em;
}

.faq-container h1 {
  text-align: center;
  font-size: 85px;
}

.plus-one-box {
  display: flex;
  align-items: center;
  background-color: #e7ebee;
  border: 1px solid #cecbcb;
  border-radius: 10px;
  padding: 20px 40px;
  width: 25%;
  margin: 60px auto 20px;
}

.plus-one-box button {
  border: none;
  background-color: #e7ebee;
}

.plus-one-box i {
  font-size: 30px;
}

.plus-one-box p {
  padding-left: 10px;
}

.minus-one-box {
  background-color: #e7ebee;
  border: 1px solid #cecbcb;
  border-radius: 10px;
  padding: 20px 40px;
  width: 25%;
  margin: 0 auto 50px;
  display: none;
}

.toggle-minus .minus-one-box {
  display: block;
}

/* .minus-button-text {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
} */

/* .minus-one-box button {
  border: none;
  background-color: #E7EBEE;
} */

.minus-heading {
  text-align: center;
  padding: 15px 0;
}

.minus-paragraph {
  /* padding-left: 35px; */
  text-align: center;
}

.minus-one-box i {
  font-size: 30px;
  color: #fd5757;
}

/* Download App */

.download-app-container {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

.download-app-phone img {
  width: 90%;
}

.download-app-text {
  flex: 1;
  padding: 10% 5% 0%;
  text-align: left;
  color: #000f37;
}

.download-app-text h1 {
  font-size: 85px;
  padding-left: 70px;
}

.download-app-text p {
  font-size: 20px;
  font-weight: 400;
  padding: 50px 55px 50px 80px;
  line-height: 1.5em;
}

.subscribe-blue-box {
  background-color: #1e5afa;
  padding: 70px 100px;
  width: 65%;
  margin: 75px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.subscribe-text {
  color: #ffffff;
  flex: 1;
}

.subscribe-text h1 {
  font-size: 48px;
  padding-bottom: 20px;
}

.subscribe-text p {
  font-size: 18px;
  line-height: 1.6em;
  padding-right: 16em;
}

.subscribe-button a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 15px 40px;
  color: #ffffff;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  width: 77%;
  margin: 0 auto;
}

.email-form-section {
  /* background-color: red; */
  width: 30%;
}

.email-form-section p {
  padding: 25px 0;
}

.email-form-section input[type="text"] {
  padding: 12px 0 12px 10px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid #e7ebee;
  color: #575757;
}

.email-form-section a {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #011037;
  color: #011037;
  text-decoration: none;
}

.footer-link-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-links h2 {
  padding-bottom: 50px;
}

.footer-links p {
  padding: 15px 0;
}

/* Tablet Responsive Version */
@media only screen and (max-width: 768px) {
  .heading-section h1 {
    font-size: 50px;
  }
  .heading-description p {
    padding: 0 50px;
  }
  .social-icons {
    display: none;
  }
  .header-phones img {
    width: 100%;
  }
  .heading-section {
    text-align: center;
    color: rgb(250, 250, 250);
    background-color: rgb(30, 90, 250);
    height: 55vh;
  }
  .header-image-section img {
    width: 70%;
    margin-top: 75px;
  }
  .about-us {
    font-size: 60px !important;
  }
  .phone-section {
    display: block;
  }
  .phone-one-section {
    flex: 1;
  }
  .phone-one-box {
    display: none;
    background-color: #1e5afa;
    width: 0% !important;
    padding: 0px !important;
    border-radius: 0px;
    margin-left: 0% !important;
    margin-top: 0% !important;
    position: relative;
  }
  .phone-one-image {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .phone-one-image img {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 15px;
  }
  .phone-one-text {
    padding: 0;
    text-align: center;
    color: #000f37;
  }
  .phone-one-text h1 {
    font-size: 40px;
    padding: 0 0 25px;
  }
  .phone-one-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 0 15px;
    line-height: 2em;
    text-align: center;
  }
  .phone-one-text a {
    background-color: #000f37;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 5px;
  }
  .phone-two-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .phone-two-box {
    display: none;
  }
  .phone-two-image {
    width: 100% !important;
    display: block;
    position: relative;
    bottom: 0% !important;
    right: 0% !important;
    margin-top: 10%;
  }
  .phone-two-image img {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 15px;
  }
  .phone-two-text {
    flex: 1;
    padding: 0% 0% 0%;
    text-align: center;
    color: #000f37;
}
  .phone-two-text h1 {
    font-size: 46px;
    padding: 0px 0% 0px 0px;
  }
  .phone-two-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 15px 0px;
    line-height: 2em;
  }
  .phone-two-text a {
    background-color: #ffffff;
    color: #000f37;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000f37;
    font-weight: 500;
  }
  .phone-three-section {
    display: block;
  }
  .phone-three-box {
    background-color: #1e5afa;
    width: 15%;
    padding: 150px;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 0%;
    position: absolute;
    display: none;
  }
  .phone-three-image {
    width: 100% !important;
    text-align: center;
    display: block;
    position: relative;
    bottom: 0%;
    right: 0%;
  }
  .phone-three-image img {
    width: 80%;
    position: relative;
    right: 30px;
  }
  .phone-three-text {
    flex: 1;
    padding: 0% 5% 0%;
    text-align: center;
    color: #000f37;
  }
  .phone-three-text h1 {
    font-size: 46px;
    padding: 0 0% 0 0 !important;
    text-align: center;
  }
  .phone-three-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0px 0px 0 !important;
    line-height: 2em;
    text-align: center;
  }
  .phone-three-text a {
    position: relative;
    bottom: 15%;
  }
  .phone-three-text h1 {
    font-size: 46px;
    padding: 0 9% 0 0;
  }
  .phone-three-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 100px 60px 0;
    line-height: 2em;
  }
  .phone-three-text a {
    background-color: #ffffff;
    color: #000f37;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000f37;
    font-weight: 500;
  }
  .our-clients {
    position: relative;
    text-align: center;
    top: 10em;
  }
  .our-clients h1 {
    color: #313131;
    font-size: 60px;
  }
  .our-clients p {
    color: #575757;
    font-size: 18px;
    width: 85%;
    margin: 40px auto;
  }
  .image-boxes {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .testimonials-section {
    text-align: center;
    padding-top: 15em;
  }
  .testimonials-section h1 {
    color: #313131;
    font-size: 60px;
  }
  .testimonials-section .header-text {
    color: #575757;
    font-size: 18px;
    padding: 30px 2em 0;
  }
  .box-container {
    width: 100%;
  }
  .box {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    text-align: center;
    width: 80%;
    border-radius: 10px;
    padding: 50px 0;
    line-height: 2em;
    margin: 50px auto 0;
  }
  .box-header {
    padding: 0 50px;
  }
  .people-info img {
    width: 150px;
    height: 150px;
  }
  .faq-container {
    padding-top: 10em;
  }
  .faq-container h1 {
    text-align: center;
    font-size: 60px;
  }
  .plus-one-box {
    display: flex;
    align-items: center;
    background-color: #e7ebee;
    border: 1px solid #cecbcb;
    border-radius: 10px;
    padding: 20px 40px;
    width: 50%;
    margin: 60px auto 20px;
  }
  .minus-one-box {
    background-color: #e7ebee;
    border: 1px solid #cecbcb;
    border-radius: 10px;
    padding: 20px 40px;
    width: 50%;
    margin: 0 auto 50px;
    display: none;
  }
  .download-app-container {
    display: block;
    margin-top: 5em;
  }
  .download-app-text img {
    width: 90%;
  }
  .download-app-phone img {
    width: 90%;
    display: none;
  }
  .download-app-text {
    flex: 1;
    padding: 0% 0% 0%;
    text-align: center;
    color: #000f37;
  }
  .download-app-text h1 {
    font-size: 60px;
    padding-left: 0px;
  }
  .download-app-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 50px 50px 50px;
    line-height: 1.5em;
  }
  .subscribe-blue-box {
    background-color: #1e5afa;
    padding: 70px 100px;
    width: 50%;
    margin: 0px auto 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .subscribe-text {
    color: #ffffff;
    flex: 1;
  }
  .subscribe-text h1 {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
  }
  .subscribe-text p {
    font-size: 18px;
    line-height: 1.6em;
    padding-right: 0em;
    padding-bottom: 2em;
    text-align: center;
  }
  .subscribe-button a {
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 15px 40px;
    color: #ffffff;
  }
  .footer-text {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .email-form-section {
    /* background-color: red; */
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .email-form-section p {
    padding: 25px 0;
    text-align: center;
  }
  .email-form-section input[type="text"] {
    padding: 12px 0 12px 10px;
    border-radius: 5px;
    background-color: #fafafa;
    border: 1px solid #e7ebee;
    color: #575757;
  }
  .email-form-section a {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #011037;
    color: #011037;
    text-decoration: none;
  }
  .footer-link-container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 10% auto 0;
  }
  .footer-links h2 {
    padding-bottom: 50px;
  }
  .footer-links p {
    padding: 15px 0;
  }
}
