@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Section */

header {
    background-color: #1E5AFA;
}

nav {
    color: #fafafa;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 75px;  
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

ul li {
    list-style: none;
    padding-left: 40px;
}

ul li a {
    text-decoration: none;
    color: #fafafa;
}

.section-one-header {
    display: flex;
    flex: 1;
    font-weight: 300;
    font-size: 18px;
}

.section-two-header {
    display: flex;
    flex: 2;
    font-weight: 900;
    font-size: 32px;
    margin: 0 auto;
    /* background-color: yellow; */
}

.section-two-header li {
    margin: 0 auto;
}

.section-two-header li a {
     margin: 0 auto;
}

.section-three-header {
    display: flex;
    flex: 1;
    font-weight: 300;
    font-size: 18px;
}

.sign-header-box:hover {
    background-color: #fafafa;
    color: #000000;
    padding: 15px 25px;
    transition: all 0.7s 0s ease;
    border-radius: 8px;
    font-weight: 700;
}

/* Header Main Content */

.heading-section {
    text-align: center;
    color: #fafafa;
    background-color: #1E5AFA;
    height: 85vh;
}

.heading-section h1 {
    font-size: 80px;
    line-height: 100%;
}

.heading-description {
    font-size: 18px;
    padding: 25px 0;
}

.header-image-section {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20%;
}

.social-icons-phones-section {
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
}

.social-icons {
   margin-bottom: 12%;
   position: relative;
   left: 5%;
}

.header-phones {
  flex: 1;
}

/* Social Icon Images */

.header-image-section .about-us {
    color: #313131;
    font-size: 80px;
}

/* About Us */

.phone-section {
    display: flex;
    justify-content: space-between;
}

.phone-one-section {
    flex: 1;
}

.phone-one-box {
    background-color: #1E5AFA;
    width: 15%;
    padding: 150px;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 20%;
    position: absolute;
}

.phone-one-image {
    position: relative;
}

.phone-one-image img {
    width: 750px;
}

.phone-one-text {
    flex: 1;
    padding: 10% 5% 0;
    text-align: left;
    color: #000F37;
}

.phone-one-text h1 {
    font-size: 46px;
    padding: 0 9% 0 0;
}

.phone-one-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 100px 60px 0;
    line-height: 2em;
}

.phone-one-text a {
   background-color: #000F37;
   color: #ffffff;
   text-decoration: none;
   padding: 20px 50px;
   font-size: 18px;
   border-radius: 5px;
}

.phone-two-section {
    display: flex;
    justify-content: space-between;
}

.phone-two-box {
    background-color: #1E5AFA;
    width: 15%;
    padding: 150px;
    border-radius: 10px;
    margin-top: 10%;
    position: absolute;
}

.phone-two-image {
    position: relative;
    bottom: 22%;
    right: 22%;
}

.phone-two-image img {
    width: 750px;
}

.phone-two-text {
    flex: 1;
    padding: 0% 5% 0%;
    text-align: left;
    color: #000F37;
}

.phone-two-text h1 {
    font-size: 46px;
    padding: 0 9% 0 0;
}

.phone-two-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 100px 60px 0;
    line-height: 2em;
}

.phone-two-text a {
    background-color: #ffffff;
    color: #000F37;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000F37;
    font-weight: 500;
}








.phone-three-section {
    display: flex;
    justify-content: space-between;
}

.phone-three-section {
    flex: 1;
}

.phone-three-box {
    background-color: #1E5AFA;
    width: 15%;
    padding: 150px;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 20%;
    position: absolute;
}

.phone-three-image {
    position: relative;
}

.phone-three-image img {
    width: 750px;
}

.phone-three-text {
    flex: 1;
    padding: 10% 5% 0;
    text-align: left;
    color: #000F37;
}

.phone-three-text h1 {
    font-size: 46px;
    padding: 0 9% 0 0;
}

.phone-three-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 100px 60px 0;
    line-height: 2em;
}

.phone-three-text a {
   background-color: #ffffff;
   color: #000F37;
   text-decoration: none;
   padding: 20px 50px;
   font-size: 18px;
   border-radius: 5px;
   border: 1px solid #000F37;
   font-weight: 500;
}